# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================
# Virtual Environments
# ==========================================

.venv/
venv/


# ==========================================
# Environment Variables / Secrets
# ==========================================

.env
.env.*


# ==========================================
# Scraped Data
# ==========================================

data/*.csv
data/*.json
data/*.db


# ==========================================
# Logs
# ==========================================

logs/*.log


# ==========================================
# Generated Reports
# ==========================================

reports/*.txt


# ==========================================
# Archives
# ==========================================

*.zip


# ==========================================
# macOS
# ==========================================

.DS_Store


# ==========================================
# IDE
# ==========================================

.vscode/

# Packaging metadata
*.egg-info/